<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
            <title>Bootstrap Classes</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-light">
        <div class="container mt-5">
            <h2 class="text-center text-primary mb-4">Enter Your Name</h2>
            <form method="POST" action="{{url_for('index')}}" class="card p-4 shadow-lg">
                <div class="mb-3">
                    <label for="name" class="form-label">Your Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <button type="submit" class="btn btn-success mt-4 text-center">Submit</button>
            </form>
            {% if message %}
                <div class="alert alert-success mt-4 text-center">
                    {{message}}
                </div>
            {% endif %}
        </div>
    </body>
</html>