name : DOCKER CI/CD for flask App
on:
  push:
    branches:["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context:
            push: true,
            tags: ${{secrets.DOCKERHUB_USERNAME}}/flask-bootstrap-demo:latest

      - name: Test Container startup
        uses: |
            docker run -d -p 5000:5000 ${{secrets.DOCKERHUB_USERNAME}}/flask-bootstrap-demo:latest
            sleep 5
            curl http://localhost:5000 || echo "Flask container running!"
